<div class="app">
  <div class="loading-container">
    <mat-spinner [diameter]="50" *ngIf="isSpinnerVisible"></mat-spinner>
  </div>

  <mat-card class="mat-elevation-z8">
    <mat-card-title>List of addresses</mat-card-title>
    <mat-card-content>
      <ul>
        <li>Data is displayed efficiently by using pagination.</li>
        <li>Columns could be sorted by clicking the header.</li>
        <li>Cells could be edited by clicking on each one. Press 'Enter' when finished to save it.</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <app-address-manager></app-address-manager>
</div>